:root {
  --main-bg-color: #2a2a31;
  --alt-bg-color: #545668;
  --text-color: #ffffff;
  --accent-color: #40414f;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../assets/fonts/ProximaNova-Black_1553558671[2250].otf);
}

.fade-in-container {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInUp ease-out 3s;
  animation-fill-mode: forwards;
  background-color: var(--main-bg-color);
}

header {
  color: var(--text-color);
  padding: 40px 20px;
  text-align: center;
}

.header-background {
  position: relative;
  height: 100vh; /* Adjust as needed */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  z-index: 1;
  /* Your existing styles for header h1 */
}

body {
  margin: 0;
  font-family: "ProximaNova", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

header h1::before {
  content: "Jasper Droppert - Front-End / Software Developer";
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid white; /* Adjust the border style as needed */
  white-space: nowrap;
  animation: typing 10s steps(100, end) infinite;
}

@keyframes typing {
  from,
  to {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

section {
  margin-bottom: 4em;
  padding: 20px; /* Add or adjust padding as needed */
  background-color: var(--accent-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

section:hover {
  animation: section ease-out 1s;
}

.projects:hover {
  animation: unset;
}

.project:hover {
  animation: section ease-out 1s;
}

.project {
  margin-bottom: 40px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  padding: 15px;
  position: relative; /* Add this to make positioning of link relative to the project */
}

.project h3 {
  margin: 0;
  font-size: 1.5em;
}

.project p {
  margin: 10px 0;
}

.projects h2 {
  margin-left: 20px;
}

.project-link {
  color: #3ca5ff;
  background-color: var(--alt-bg-color);
  padding: 20px;
  display: block;
  text-align: center;
  border-radius: 0 0 8px 8px; /* Match the bottom border-radius of the project */
}

.software {
  color: #109f4e;
  font-size: 1.5em;
}

.about,
.skills {
  text-align: center;
}

.projects {
  text-align: left;
}

.contact {
  text-align: right;
}

footer {
  color: #ffffff6f;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes section {
  0% {
    background-color: var(--accent-color);
  }
  50% {
    background-color: #70728b;
  }
  100% {
    background-color: var(--accent-color);
  }
}

@media (max-width: 1236px) {
  h1 {
    font-size: 2.5em; /* Adjust the font size as needed for smaller screens */
  }

  header h1::before {
    content: "Jasper Droppert - Front-End / Software Developer";
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid white; /* Adjust the border style as needed */
    white-space: nowrap;
    animation: typing 8s steps(80, end) infinite;
  }

  @keyframes typing {
    from,
    to {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }
}

@media (max-width: 970px) {
  h1 {
    font-size: 2em; /* Adjust the font size as needed for smaller screens */
  }

  header h1::before {
    content: "Jasper Droppert - Front-End / Software Developer";
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid white; /* Adjust the border style as needed */
    white-space: nowrap;
    animation: typing 8s steps(80, end) infinite;
  }

  @keyframes typing {
    from,
    to {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }
}

@media (max-width: 785px) {
  h1 {
    font-size: 1.5em; /* Adjust the font size as needed for smaller screens */
  }

  header h1::before {
    content: "Jasper Droppert - Front-End / Software Developer";
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid white; /* Adjust the border style as needed */
    white-space: nowrap;
    animation: typing 7s steps(70, end) infinite;
  }

  @keyframes typing {
    from,
    to {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }
}

@media (max-width: 614px) {
  h1 {
    font-size: 1em; /* Adjust the font size as needed for smaller screens */
  }

  header h1::before {
    content: "Jasper Droppert - Front-End / Software Developer";
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid white; /* Adjust the border style as needed */
    white-space: nowrap;
    animation: typing 7s steps(70, end) infinite;
  }

  @keyframes typing {
    from,
    to {
      width: 0;
    }
    50% {
      width: 100%;
    }
  }
}
